<button class="pure-button-primary pure-button" style="width: 10%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; float: left;" onclick="loadDrones();">Back</button>
<button class="pure-button-primary pure-button" style="width: 90%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; background-color: black">Preflight Checklist</button>
<form id="checklistForm" data-checklist="<%=checklistid%>" data-drone="<%=droneid%>" data-user="<%=user.username%>">
   <div id="" class="container">

         <div class="row">
             <div class="card mx-auto">
                 <div class="card-header" id="headingOne">
                   <h5 class="mb-0">
                     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <li class="list-group-item activeSelectChecklist ">Required Documentation-Universal</li>
                     </button>
                   </h5>
                 </div>

                 <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                   <div class="card-body">
                       <li class="list-group-item"><label for='Landowner/Flight Area Permission Forms On-Hand' >Landowner/Flight Area Permission Forms On-Hand</label><input type='checkbox' value='true' name='Landowner/Flight Area Permission Forms On-Hand'  id='Landowner/Flight Area Permission Forms On-Hand' /></li>
                       <li class="list-group-item"><label for='Pilot License On-Hand' >Pilot License On-Hand</label><input type='checkbox' value='true' name='Pilot License On-Hand'  id='Pilot License On-Hand' /></li>
                       <li class="list-group-item"><label for='Drone Registraton Certifcate On-Hand - FAA / TC' >Drone Registraton Certifcate On-Hand - FAA / TC</label><input type='checkbox' value='true' name='Drone Registraton Certifcate On-Hand - FAA / TC'  id='Drone Registraton Certifcate On-Hand - FAA / TC' /></li>
                       <li class="list-group-item"><label for='Insurance On-Hand' >Insurance On-Hand</label><input type='checkbox' value='true' name='Insurance On-Hand'  id='Insurance On-Hand' /></li>
                       <li class="list-group-item"><label for='FLHA and Tailgate Completed' >FLHA and Tailgate Completed</label><input type='checkbox' value='true' name='FLHA and Tailgate Completed'  id='FLHA and Tailgate Completed' /></li>
                       <li class="list-group-item"><label for='GPS Coordinates (Lat/Long) Visible for Reference' >GPS Coordinates (Lat/Long) Visible for Reference</label><input type='checkbox' value='true' name='GPS Coordinates (Lat/Long) Visible for Reference'  id='GPS Coordinates (Lat/Long) Visible for Reference' /></li>
                       <li class="list-group-item"><label for='Emergency Services Contact Information Visible' >Emergency Services Contact Information Visible</label><input type='checkbox' value='true' name='Emergency Services Contact Information Visible'  id='Emergency Services Contact Information Visible' /></li>
                       <li class="list-group-item"><label for='Air Traffic Control and Aerodrome Contact Information Visible' >Air Traffic Control and Aerodrome Contact Information Visible</label><input type='checkbox' value='true' name='Air Traffic Control and Aerodrome Contact Information Visible'  id='Air Traffic Control and Aerodrome Contact Information Visible' /></li>
                   </div>
                 </div>
               </div>
         </div>
         <div class="row">
               <div class="card mx-auto">
                 <div class="card-header" id="headingTwo">
                   <h5 class="mb-0">
                     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                       <li class="list-group-item activeSelectChecklist ">In-field and pre-flight checklist-INS 01</li>
                     </button>
                   </h5>
                 </div>

                 <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                   <div class="card-body">
                         <li class="list-group-item">Date:</li>
                         <li class="list-group-item">
                             <p>Pilot in Command: </p>
                              <div class="dropdown ">
                                  <select name="Pilot_in_Command">
                                    <option value="">Choose a pilot</option>
                                    <option value="david">david</option>
                                    <option value="joker">joker</option>
                                    <option value="boby">boby</option>
                                    </select>
                              </div>
                         </li>
                         <li class="list-group-item">
                             <p>Visual Observer: </p>

                             <div class="dropdown ">
                                 <select name="Visual_Observer">
                                   <option value="">Choose a name</option>
                                   <option value="Observer1">Observer1</option>
                                   <option value="Observer2">Observer2</option>
                                   <option value="Observer234">Observer234</option>
                                   </select>
                             </div>
                         </li>
                         <li class="list-group-item">Job Number:</li>
                         <li class="list-group-item">
                             <p>Platform Identifier: </p>

                             <div class="dropdown ">
                                 <select name="Platform_Identifier">
                                   <option value="">Choose a bumber</option>
                                   <option value="3">3</option>
                                   <option value="234">234</option>
                                   <option value="hehe">hehe</option>
                                   </select>
                             </div>
                             </li>
                     </div>
                 </div>
               </div>
         </div>
         <div class="row">
             <div class="card mx-auto">
                 <div class="card-header" id="headingThree">
                   <h5 class="mb-0">
                     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                       <li class="list-group-item activeSelectChecklist ">Physical Eniveronment-Mission Area</li>
                     </button>
                   </h5>
                 </div>

                 <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                   <div class="card-body">
                             <li class="list-group-item"><label for='Weather Check'>Weather Check</label><input type='checkbox' value='true' name='Weather Check' id='Weather Check'/></li>
                             <li class="list-group-item"><label for='Place Safety Cones Around Area'>Place Safety Cones Around Area</label><input type='checkbox' value='true'  name='Place Safety Cones Around Area' id='Place Safety Cones Around Area'/></li>
                             <li class="list-group-item"><label for='Operation Signage Appropriately Placed'>Operation Signage Appropriately Placed</label><input type='checkbox' value='true'  name='Operation Signage Appropriately Placed' id='Operation Signage Appropriately Placed'/></li>
                             <li class="list-group-item"><label for='Safe Landing Area Established'>Safe Landing Area Established</label><input type='checkbox' value='true'  name='Safe Landing Area Established' id='Safe Landing Area Established'/></li>
                             <li class="list-group-item"><label for='Clear Landing Area'>Clear Landing Area</label><input type='checkbox' value='true'  name='Clear Landing Area' id='Clear Landing Area'/></li>
                             <li class="list-group-item"><label for='Area Clear of Non-Participants'>Area Clear of Non-Participants</label><input type='checkbox' value='true'  name='Area Clear of Non-Participants' id='Area Clear of Non-Participants'/></li>
                             <li class="list-group-item"><label for='Fire Extinguisher On-Hand'>Fire Extinguisher On-Hand</label><input type='checkbox' value='true'  name='Fire Extinguisher On-Hand' id='Fire Extinguisher On-Hand'/></li>
                             <li class="list-group-item"><label for='Wind and Temperature Within Operating Specs'>Wind and Temperature Within Operatin></label><input type='checkbox' value='true'  name='Wind and Temperature Within Operating Specs'>Wind and Temperature Within Operatin id='Wind and Temperature Within Operating Specs'>Wind and Temperature Within Operating Specs
                               <!-- <input name='Physical Eniveronment-Mission Area[]{}' type="text" class="float-right"> -->
                             </input></li>
                         </div>
                     </div>
                   </div>
         </div>
         <div class="row">
                 <div class="card mx-auto">
                     <div class="card-header" id="headingFour">
                       <h5 class="mb-0">
                         <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                           <li class="list-group-item activeSelectChecklist ">Software/Firmware</li>
                         </button>
                       </h5>
                     </div>

                     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                       <div class="card-body">
                             <li class="list-group-item"><label for='Latest Version Firmware'>Latest Version Firmware</label><input type='checkbox' value='true' name='Latest Version Firmware' id='Latest Version Firmware'/></li>
                             <li class="list-group-item"><label for='Latest Version Ground Control Software'>Latest Version Ground Control Software</label><input type='checkbox' value='true' name='Latest Version Ground Control Software' id='Latest Version Ground Control Software'/></li>
                             <li class="list-group-item"><label for='Latest Version Sensor Firmware'>Latest Version Sensor Firmware</label><input type='checkbox' value='true' name='Latest Version Sensor Firmware' id='Latest Version Sensor Firmware'/></li>
                         </div>
                     </div>
                   </div>
         </div>
         <div class="row">
             <div class="card mx-auto">
                 <div class="card-header" id="headingFive">
                   <h5 class="mb-0">
                     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                       <li class="list-group-item activeSelectChecklist ">Flight planning</li>
                     </button>
                   </h5>
                 </div>

                 <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                   <div class="card-body">
                             <li class="list-group-item"><label for='Mission Uploaded to UAV'>Mission Uploaded to UAV</label><input type='checkbox' value='true'  name='Mission Uploaded to UAV' id='Mission Uploaded to UAV'/></li>
                             <li class="list-group-item"><label for='Safe "Home" and/or "Start" Location Established'>Safe "Home" and/or "Start" Location Established</label><input type='checkbox' value='true'  name='Safe "Home" and/or "Start" Location Established' id='Safe "Home" and/or "Start" Location Established'/></li>
                             <li class="list-group-item"><label for='Correct Flight Elevation Programmed'>Correct Flight Elevation Programmed</label><input type='checkbox' value='true'  name='Correct Flight Elevation Programmed' id='Correct Flight Elevation Programmed'/></li>
                             <li class="list-group-item"><label for='Furthers Waypoints are Within Telemetry Range'>Furthers Waypoints are Within Telemetry Range</label><input type='checkbox' value='true'  name='Furthers Waypoints are Within Telemetry Range' id='Furthers Waypoints are Within Telemetry Range'/></li>
                         </div>
                     </div>
                   </div>
         </div>
         <div class="row">
                 <div class="card mx-auto">
                     <div class="card-header" id="headingSix">
                       <h5 class="mb-0">
                         <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                           <li class="list-group-item activeSelectChecklist ">Communication</li>
                         </button>
                       </h5>
                     </div>

                     <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                       <div class="card-body">
                             <li class="list-group-item"><label for='iCom Radio On'>iCom Radio On</label><input type='checkbox' value='true'  name='iCom Radio On' id='iCom Radio On'/></li>
                             <li class="list-group-item"><label for='Verbal Flight Description and Pattern Discussed'>Verbal Flight Description and Pattern Discussed</label><input type='checkbox' value='true'  name='Verbal Flight Description and Pattern Discussed' id='Verbal Flight Description and Pattern Discussed'/></li>
                             <li class="list-group-item"><label for='Furthest Distance of UAV from "Home" is Verbalized'>Furthest Distance of UAV from "Home" is Verbalized</label><input type='checkbox' value='true'  name='Furthest Distance of UAV from "Home" is Verbalized' id='Furthest Distance of UAV from "Home" is Verbalized'/></li>
                             <li class="list-group-item"><label for='Verbal Clarification of Flyaway Procedure'>Verbal Clarification of Flyaway Procedure</label><input type='checkbox' value='true'  name='Verbal Clarification of Flyaway Procedure' id='Verbal Clarification of Flyaway Procedure'/></li>
                             <li class="list-group-item"><label for='Platform Identifier:'>Platform Identifier:</label><input type='checkbox' value='true'  name='Platform Identifier:' id='Platform Identifier:'/></li>
                         </div>
                     </div>
                   </div>
         </div>
         <div class="row">
             <div class="card mx-auto">
                 <div class="card-header" id="headingSeven">
                   <h5 class="mb-0">
                     <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                       <li class="list-group-item activeSelectChecklist ">Battery</li>
                     </button>
                   </h5>
                 </div>

                 <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                   <div class="card-body">
                             <li class="list-group-item">
                                 <p>Identify Battery </p>
                                 <div class="dropdown ">

                                     <select name="Identify_Battery">
                                       <option value="">Choose a percent</option>
                                       <option value="75%-100%">75%-100%</option>
                                       <option value="50%-75%">50%-75%</option>
                                       <option value="25%-50%">25%-50%</option>
                                       <option value="0%-25%">0%-25%</option>
                                       <option value="0%">0%</option>
                                       </select>
                                 </div>
                                 </li>
                             <li class="list-group-item"><label for='Platform Battery Charged to 90% - Checked with Remote'>Platform Battery Charged to 90% - Checked with Remote</label><input type='checkbox' value='true'  name='Platform Battery Charged to 90% - Checked with Remote' id='Platform Battery Charged to 90% - Checked with Remote'/></li>
                             <li class="list-group-item"><label for='Remote Control Battery Charged'>Remote Control Battery Charged</label><input type='checkbox' value='true'  name='Remote Control Battery Charged' id='Remote Control Battery Charged'/></li>
                             <li class="list-group-item"><label for='Tablet / Computer Ground Station Charged'>Tablet / Computer Ground Station Charged</label><input type='checkbox' value='true'  name='Tablet / Computer Ground Station Charged' id='Tablet / Computer Ground Station Charged'/></li>
                         </div>
                     </div>
                   </div>
         </div>
         <div class="row">
                 <div class="card mx-auto">
                     <div class="card-header" id="headingEight">
                       <h5 class="mb-0">
                         <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                           <li class="list-group-item activeSelectChecklist ">Platform Checks</li>
                         </button>
                       </h5>
                     </div>

                     <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                       <div class="card-body">
                             <li class="list-group-item"><label for='No Loose Cables or Wiring'>No Loose Cables or Wiring</label><input type='checkbox' value='true'  name='No Loose Cables or Wiring' id='No Loose Cables or Wiring'/></li>
                             <li class="list-group-item"><label for='Legs / Arms Locked and Secured'>Legs / Arms Locked and Secured</label><input type='checkbox' value='true'  name='Legs / Arms Locked and Secured' id='Legs / Arms Locked and Secured'/></li>
                             <li class="list-group-item"><label for='Leg / Arm Locking Mechanism in Condition'>Leg / Arm Locking Mechanism in Condition</label><input type='checkbox' value='true'  name='Leg / Arm Locking Mechanism in Condition' id='Leg / Arm Locking Mechanism in Condition'/></li>
                             <li class="list-group-item">
                                 <p>Identify Propellers: </p>

                                 <div class="dropdown ">

                                     <select name="Identify_Propellers">
                                       <option value="">Choose Propellers</option>
                                       <option value="Big">Big</option>
                                       <option value="Medium">Medium</option>
                                       <option value="Small">Small</option>
                                       </select>
                                 </div>
                             </li>
                             <li class="list-group-item"><label for='Propellers in Condition'>Propellers in Condition</label><input type='checkbox' value='true'  name='Propellers in Condition' id='Propellers in Condition'/></li>
                             <li class="list-group-item"><label for='Body Free of Cracks and Dents'>Body Free of Cracks and Dents</label><input type='checkbox' value='true'  name='Body Free of Cracks and Dents' id='Body Free of Cracks and Dents'/></li>
                             <li class="list-group-item"><label for='Screws / Nuts / Bolts in Place and Tight'>Screws / Nuts / Bolts in Place and Tight</label><input type='checkbox' value='true'  name='Screws / Nuts / Bolts in Place and Tight' id='Screws / Nuts / Bolts in Place and Tight'/></li>
                             <li class="list-group-item"><label for='Battery Connectors and Cables Secure'>Battery Connectors and Cables Secure</label><input type='checkbox' value='true'  name='Battery Connectors and Cables Secure' id='Battery Connectors and Cables Secure'/></li>
                             <li class="list-group-item"><label for='Gimbal and Payload Assembly Secure'>Gimbal and Payload Assembly Secure</label><input type='checkbox' value='true'  name='Gimbal and Payload Assembly Secure' id='Gimbal and Payload Assembly Secure'/></li>
                             <li class="list-group-item"><label for='Camera Responsive to Commands'>Camera Responsive to Commands</label><input type='checkbox' value='true'  name='Camera Responsive to Commands' id='Camera Responsive to Commands'/></li>
                             <li class="list-group-item"><label for='Compass Calibration if 10km From Last Flight or 30 Days)'>Compass Calibration if 10km From Last Flight or 30 Days)</label><input type='checkbox' value='true'  name='Compass Calibration if 10km From Last Flight or 30 Days)' id='Compass Calibration if 10km From Last Flight or 30 Days)'/></li>
                             <li class="list-group-item"><label for='Optical Flow Sensor(s) Clear of Obstruction Debris'>Optical Flow Sensor(s) Clear of Obstruction Debris</label><input type='checkbox' value='true'  name='Optical Flow Sensor(s) Clear of Obstruction Debris' id='Optical Flow Sensor(s) Clear of Obstruction Debris'/></li>
                         </div>
                     </div>
                   </div>
     </div>

<div class="row">
<div class="submitContainer">

<button type="submit" class="btn btn-primary">Submit</button>

</div>
</div>
  </div>
</form>

<script>
function init_menu(window, document) {

    var layout   = document.getElementById('layout');
    var  menu     = document.getElementById('menu');
    var  menuLink = document.getElementById('menuLink');
    var    content  = document.getElementById('main');

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/),
            length = classes.length,
            i = 0;

        for(; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleAll(e) {
        var active = 'active';

        e.preventDefault();
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    }

    menuLink.onclick = function (e) {
        toggleAll(e);
    };

    content.onclick = function(e) {
        if (menu.className.indexOf('active') !== -1) {
            toggleAll(e);
        }
    };

}

init_menu(this, this.document);
$('select').selectpicker();
</script>
<script src="/js/checklist.js"></script>
