<style>
body {
    background: #457B9D;
}
</style>
<button class="pure-button-primary pure-button" style="width: 10%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; float: left;" onclick="loadDrones();">Back</button>
<button class="pure-button-primary pure-button" style="width: 90%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; background-color: black">Preflight Checklist</button>
<form id="checklistForm" data-checklist="<%=checklistid%>" data-drone="<%=droneid%>" data-user="<%=user.username%>" >
   <div id="container" class="container" style="background: #457B9D;">

  </div>
  <div class="row">
  <div class="submitContainer">

  <button type="submit" class="btn btn-outline-dark">Submit</button>

  </div>
  </div>
</form>
<script>
function init_menu(window, document) {

    var layout   = document.getElementById('layout');
    var  menu     = document.getElementById('menu');
    var  menuLink = document.getElementById('menuLink');
    var    content  = document.getElementById('main');

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/),
            length = classes.length,
            i = 0;

        for(; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleAll(e) {
        var active = 'active';

        e.preventDefault();
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    }

    menuLink.onclick = function (e) {
        toggleAll(e);
    };

    content.onclick = function(e) {
        if (menu.className.indexOf('active') !== -1) {
            toggleAll(e);
        }
    };

}

init_menu(this, this.document);
$('select').selectpicker();
</script>
<script src="/js/checklist.js"></script>
