<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="#">I Commander</a>

        <ul class="pure-menu-list">
            <% if( user.role != 'guest') { %>
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Fly</a></li>
            <% } %>

            <% if( user.role == 'admin' || user.role == 'superadmin') { %>
                <li class="pure-menu-item"><a href="/dashboard" class="pure-menu-link">Dashboard</a></li>
                <li class="pure-menu-item"><a href="/dashboard/ManageUsers" class="pure-menu-link">Manage Users</a></li>
            <li class="pure-menu-item"><a href="/dashboard/drones" class="pure-menu-link">Manage Drones</a></li>
            <li class="pure-menu-item"><a href="/dashboard/checklist" class="pure-menu-link">Manage Lists</a></li>
            <li class="pure-menu-item"><a href="/dashboard/tickets" class="pure-menu-link">Manage Tickets</a></li>

            <% } %>

            <% if( user.role == 'tech') { %>
                <li class="pure-menu-item"><a href="/dashboard/drones" class="pure-menu-link">Manage Drones</a></li>
                <li class="pure-menu-item"><a href="/dashboard/tickets" class="pure-menu-link">Manage Tickets</a>
                </li>
            <% } %>

            <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>

        </ul>
    </div>
    <div id="w_widget">
    </div>
</div>

<script>
    // console.log(document.baseURI);
    m = document.getElementById('menu');
    items = m.getElementsByClassName('pure-menu-item')
    // console.log(windo/w.location);
    for (let i = 0; i < items.length; i++) {
        // console.log(items[i].firstElementChild.href);
        if (items[i].firstElementChild.href == window.location.href) {
            items[i].classList.add('pure-menu-selected');
        }
    }
</script>
<script src="/js/weather_widget.js"></script>
<link rel="stylesheet" type="text/css" href="/style/weather_widget.css">
