        <button id="startFlyingBtn" class="pure-button-primary pure-button" style="width: 100%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px" onclick="loadDrones()">Start Flying</button>
        <div class="crop">
            <img src="/images/calvin_fly.gif" alt="Calvin Flying">
        </div>
