<!DOCTYPE html>
<html>
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <![endif]-->

<link rel="stylesheet" type="text/css" href="/style/icmd.css">


<title>Drones-icmd</title>

</head>

<style>

    body {
        background: #457b9d;
    }

    .pure-g {
        background: #A8DADC;
        border-radius: 1em;
        margin: 0em;
    }

    /* At the top level of your code */
    @media screen and (min-width: 35.5em) {
        .pure-g {
            margin: 3em;
        }
    }

    @media screen and (max-width: 48em) {
        #profilepic {
            order: -1;
        }

        #profile1 {
            order: -2;
        }
    }


</style>

<body>


<div id="layout">
    <% include ../partials/dashboard_menu.ejs %>

    <div id="main">

        <div class="pure-g" style="padding: 2em">
            <div class="pure-u-1 ">
                <h1>Drone Management</h1>
            </div>

            <div id="list_header" class="pure-u-1 ">
                <span style="">Drone List</span>
                <button id="add_drone_btn" class="pure-button-primary" data-toggle="collapse" data-target="#add_drone"
                        style="width: 50%; border-radius: 0px; border: hidden; float: right">
                    Add Drone
                </button>
            </div>
            <div id="add_drone" class="pure-u-1 collapse" style="background: #99121d">
                TODO: Fill IN
            </div>
            <div id="drone_list" class="pure-u-1">
                TODO: FIll in
                <!--TODO: Fill in div with js-->
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/icmd.js"></script>


<style>
    .drone_item {}
    .drone_item .pure-g{
        border-style: solid;
        border-width: 2px;
        border-radius: 0.5em;
        margin: .5em;
        /*background: #04a9f4;*/
        background: mintcream;
        /*transition: height 1s ease-in-out;*/
    }

    .drone_image {
        width: 3em;
        height: 3em;
        border-radius: 0.5em;
        padding: 3px;
    }

    .drone_item button {
        border: none;
        float: right;
        /*padding: 0.5em;*/
        background: #457b9d;
        height: 2em;
        margin: 0.5em;
    }

</style>

<script>

    function getServerData(path) {
        //  ie /api/getDrones
        return fetch(path, {method: 'GET', credentials: "same-origin"}).then(r => {
            if (!r.ok) throw Error(r.statusText);
            return r.json();
        })
    }

    async function editSubmit(e) {
        e.preventDefault();
        console.log(e.target);
        const params = new URLSearchParams([...new FormData(e.target).entries()]);

        // const params = new URLSearchParams([...new FormData(e.target).entries()]);
        const response = await fetch("/api/edit_drone", {method: "POST", body: params, credentials: "same-origin"})
        r = await response.json();
        console.log(r);
        let drones = r;
        let d = r.updated_drone

        document.getElementById(`e_name${d.did}`).innerHTML = `${d.name}:${d.type}`
        document.getElementById(`e_lockedout${d.did}`).innerHTML = `lockedout: ${d.lockedout}`
        document.getElementById(`e_disabled${d.did}`).innerHTML = `disabled: ${d.disabled}`

        console.log("Succssesfully edited drone")
        console.log(response);

    }

    function gen_drone_form(d, list_options) {

        if(d == null) {
            d = {
                did:-1,
                name:'',
                type:'',

            }
        }

        let disabled = ''
        if(d.disabled) disabled = 'checked'

        return `

                <div  id="e_info${d.did}" class="pure-g">

                        <div class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-8" id="e_image${d.did}" style="background: orangered">

                            <img src="/images/drone${d.did}.jpg" class="drone_image">
                        </div>

                        <div class="pure-u-1 pure-u-sm-3-4 pure-u-md-3-8" id="e_name${d.did}" style="background: orangered">
                            ${d.name}:${d.type}
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-8" id="e_lockedout${d.did}">
                            lockedout: ${d.lockedout}
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-8" id="e_disabled${d.did}">
                            disabled: ${d.disabled}
                        </div>

                    <div class="pure-u-1 pure-u-md-1-4" id="e_btns${d.did}" style="float: right;">
                         <button class="pure-button-primary" style="background: mintcream; color: #99121d">X</button>
                         <button class="pure-button-primary" data-toggle="collapse" data-target="#edit_drone_${d.did}">Edit</button>
                    </div>




                <div id="edit_drone_${d.did}" class="pure-u-1 collapse" style="border-width: 2px 0 0 0; border-style: solid">
                <form id='edit_form_${d.did}' class="pure-form pure-form-aligned"
                      action="#" onsubmit="editSubmit" style="height: 100%; background: mintcream">

                    <input hidden name='did' type="number" value='${d.did}'>
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">Drone Name</label>
                            <input name="name" type="text" placeholder="Name"
                                   value="${d.name}">
                        </div>
                        <div class="pure-control-group">
                            <label for="type">Drone Type</label>
                            <input name="type" type="text" placeholder="Type"
                                   value="${d.type}">
                        </div>

                        <div class="pure-control-group">
                            <label for="pre">Preflight List</label>
                            <select name="preflight_lid">
                             ${list_options}
                            </select>
                        </div>

                         <div class="pure-control-group">
                            <label for="post_list">Postflight List</label>
                            <select name="postflight_lid">
                             ${list_options}
                            </select>
                        </div>

                        <div class="pure-control-group">
                           <div class="pure-control-group">
                            <label for="disabled">Disable Drone</label>
                        <label class="toggle" style='text-align: left;'>
                            <input name='disabled' class="toggle-checkbox" type="checkbox" ${disabled}>
                                <div class="toggle-switch"></div>
                        </label>
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary" style="float: left">Submit
                            </button>
                        </div>
                    </fieldset>
                </form>
                </div>
                </div>
                `

    }


    async function init_drone_list() {
        dl = document.getElementById('drone_list');
        // todo: properly make this async

        let responses = []
        responses.push(getServerData('/api/get_drones'));
        responses.push(getServerData('/api/get_checklist'));

        Promise.all(responses).then(value => {
            // let dronedb = await value[0].json();
            // let listdb = await value[1].json();
            // console.log(value)
            // if (!value[0].ok) {
            //     throw Error(value[0].statusText);
            // }
            // if (!value[1].ok) {
            //     throw Error(value[1].statusText);
            // }

            let dronedb = value[0];
            let listdb = value[1];

            dronedb.drones.forEach((d) => {
                let item = document.createElement('div')
                item.classList.add('drone_item')
                item.classList.add('pure-u-1')

                let list_options = ``;
                listdb.lists.forEach(l => {
                    list_options += `<option value='${l.lid}'>${l.label}</option>`;
                })

                item.innerHTML = gen_drone_form(d, list_options)
                // item.innerText = d.name;
                console.log(d)

                dl.appendChild(item);
                document.getElementById(`edit_form_${d.did}`).onsubmit = editSubmit


            });

        });
        // await response;
        // console.log(response)


    }

    init_drone_list();
    //
    // function editClicked() {
    //
    //     btn = document.getElementById('editButton');
    //
    //     // console.log(btn)
    //     // console.log("asd")
    //     // console.log(btn.style.width)
    //
    //     if (btn.style.width == "50%")
    //         btn.style.width = '100%';
    //     else
    //         btn.style.width = "50%";
    //     // console.log('Clicked button123')
    // }
    //
    // document.getElementById('edit_user').onsubmit = async function (e) {
    //
    //     e.preventDefault();
    //     const params = new URLSearchParams([...new FormData(e.target).entries()]);
    //     const response = await fetch("/api/edit_profile", {method: "POST", body: params, credentials: "same-origin"})
    //     const r = await response.json();
    //     // const response = await new Response(params);
    //
    //     info = document.getElementById('s_error');
    //     // info.style.height = "0em";
    //     // info.style.padding = '10px';
    //     if (r.error == false) {
    //
    //         info.style.background = '#28a745';
    //         // info.style.background = '--green'
    //         info.innerText = "Edits Successfully Made"
    //
    //         document.getElementById('s_displayName').innerHTML = r.user.displayName;
    //         document.getElementById('s_email').innerHTML = r.user.email;
    //         document.getElementById('preview').src = r.user.base64data;
    //     } else {
    //         info.style.background = "#dc3545";
    //         info.innerText = r.error;
    //     }
    //     console.log(info.clientHeight);
    //     console.log(info.scrollHeight);
    //     if (info.clientHeight < info.scrollHeight)
    //
    //         info.style.height = info.scrollHeight + 10 + 'px';
    //
    //     console.log(JSON.stringify(r));
    //     console.log("Submited fourm")
    // }
</script>
</html>
