<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>Dashboardr</title>
    <link rel="stylesheet" href="style/main.css" />

    <!-- Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#90a8b2">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PSK">
    <link rel="icon" sizes="192x192" href="images/touch/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/icon-192x192.png">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#90a8b2">
    <meta name="msapplication-TileImage" content="images/touch/icon-192x192.png">


    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]--></head>
<link rel="stylesheet" type="text/css" href="/style/icmd.css">

</head>



<style>

    .style1 {
        background: url(/images/calvin_sky.png) repeat center center fixed ;
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        background-size: 100%;


    }

    .crop {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        float: top;
    }
    .crop img {
        width: 100%;
        /*height: 100%;*/

        /*margin: -75px 0 0 -100px;*/
    }

    body{
        display: block;
        /*background: url(/images/calvin_sky.png) repeat center center fixed ;*/
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        background-size: 100%;
    }
</style>

<body>



<!--<div style="background: rebeccapurple;opacity: 0.5; width: 100%; height: auto; position: absolute; top: 100px; left: 0px">-->

<div id="layout">
    <!-- Menu toggle -->

    <%include partials/dashboard_menu.ejs%>
    <div id="menu">
      <button id="startFlyingBtn" class="pure-button-primary pure-button" style="width: 100%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px" onclick="loadDrones()">Start Flying</button>
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">I Commander</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Start Flight</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Users</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drones</a></li>
                <li class="pure-menu-item"><a href="http://localhost:8080/admin/add_drone/add_check_list" class="pure-menu-link">Checklists</a></li>


                <!--          <li class="pure-menu-item menu-item-divided pure-menu-selected">-->
                <!--            <a href="#" class="pure-menu-link">Services</a>-->
                <!--          </li>-->

                <li class="pure-menu-item"><a href="/profile" class="pure-menu-link">Profile</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
      <button class="pure-button-primary pure-button" style="width: 10%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; float: left;" onclick="loadIndex();">Back</button>
      <button class="pure-button-primary pure-button" style="width: 90%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; background-color: black">Select a Drone</button>
      <form id="checklistForm" data-checklist="<%=checklistid%>" data-drone="<%=droneid%>" data-user="<%=user.username%>">
  	     <div id="container" class="container">
          <!-- items dynamically populated -->
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
</div>

<script src="/js/checklist.js"></script>
</body>
</html>
