<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>Dashboardr</title>
    <link rel="stylesheet" href="style/main.css" />

    <!-- Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#90a8b2">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PSK">
    <link rel="icon" sizes="192x192" href="images/touch/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/icon-192x192.png">

    <!-- Tile for Win8 -->
    <meta name="msapplication-TileColor" content="#90a8b2">
    <meta name="msapplication-TileImage" content="images/touch/icon-192x192.png">


    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]--></head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.3/bootbox.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/icmd.css">
<link rel="stylesheet" type="text/css" href="/style/cards.css">
<link rel="stylesheet" type="text/css" href="/style/drones.css" />


</head>



<style>

    .style1 {
        background: url(/images/calvin_sky.png) repeat center center fixed ;
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        background-size: 100%;


    }

    .crop {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        float: top;
    }
    .crop img {
        width: 100%;
        /*height: 100%;*/

        /*margin: -75px 0 0 -100px;*/
    }

    body{
        display: block;
        /* background: url(/images/calvin_sky.png) repeat center center fixed ; */
        background: #457B9D;
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        background-size: 100%;
    }
</style>

<body>



<!--<div style="background: rebeccapurple;opacity: 0.5; width: 100%; height: auto; position: absolute; top: 100px; left: 0px">-->

<div id="layout">
    <% include partials/dashboard_menu.ejs %>
    <!-- <button class="pure-button-primary pure-button" style="width: 10%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; float: left;" onclick="loadDrones();">Back</button> -->
    <button class="pure-button-primary pure-button" style="width: 100%; height: 50px; border-radius: 0px 0px 0px 0px; padding: 0px; margin: 0px; background-color: black">Postflight Checklist</button>
    <form id="checklistForm">
      
       <div id="container" class="container" style="height: 100% !important;">


      </div>

          <div class="row">
          <div class="submitContainer" style="width: 100% !important;">

          <button type="submit" class="btn btn-outline-dark btn-lg btn-block">Submit</button>

          </div>
          </div>
    </form>

    <script>
    function init_menu(window, document) {

        var layout   = document.getElementById('layout');
        var  menu     = document.getElementById('menu');
        var  menuLink = document.getElementById('menuLink');
        var    content  = document.getElementById('main');

        function toggleClass(element, className) {
            var classes = element.className.split(/\s+/),
                length = classes.length,
                i = 0;

            for(; i < length; i++) {
                if (classes[i] === className) {
                    classes.splice(i, 1);
                    break;
                }
            }
            // The className is not found
            if (length === classes.length) {
                classes.push(className);
            }

            element.className = classes.join(' ');
        }

        function toggleAll(e) {
            var active = 'active';

            e.preventDefault();
            toggleClass(layout, active);
            toggleClass(menu, active);
            toggleClass(menuLink, active);
        }

        menuLink.onclick = function (e) {
            toggleAll(e);
        };

        content.onclick = function(e) {
            if (menu.className.indexOf('active') !== -1) {
                toggleAll(e);
            }
        };

    }

    init_menu(this, this.document);
    $('select').selectpicker();
    </script>

</div>


<!--</div>-->

<!--script>
    $(document).ready(function(){
        $("#startFlyingBtn").click(function(){
            var div = $("#startFlyingBtn");
            div.animate({height: '800px'}, "1000")
            div.animate({fontSize: '3em'}, "1000")
            setTimeout(function()
            {
                window.location.href='drones'
            }, 400);
        });
    });
</script-->


<script src="js/postchecklist.js"></script>
<!--<div style="width:100%;height:0;padding-bottom:68%;position:relative;"><iframe src="/images/calvin_fly.gif" width="100%" height="100%" style=" allowFullScreen></iframe></div>-->
</body>
</html>
