body {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  margin: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
}


.container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 5px 0;
}
