#flight_table {
    /*background-color: rgb(25, 25, 24);
    color: rgb(153, 153, 153); */
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: separate;
}

.f_header {
    padding: 5px;
    background-color: #a8dadc;
    color: white;
}

.f_data {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

tr:nth-child(odd) {
    background-color: rgb(254, 254, 254);
}

tr:first-child th:first-child { border-top-left-radius: 10px; }
tr:first-child th:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

