body, html {
    background: #457B9D !important;
    margin: 0%;
    height: 100%;
}
body {
    align-items: center;
    background-color: white;

}

.container {
    padding-top: 1% !important;
    padding-left: 13% !important;
}
.tab-content {
    padding: 2%;
    background: white;
    padding: 4%;
    border-radius: 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: auto;
    clear: both;
}
.nav-tabs {
    background: white;
    padding-top: 1%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.btn-outline-dark {
    margin-bottom: 1%;
}
.btnsPerList {
    display: inline-block;
}
#accordion button {
    margin-right: 1%;
    margin-bottom: 0;
}
#accordion2 button {
    margin-right: 1%;
    margin-bottom: 0;
}
#sortable li {
    background: none;
    padding: 1%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 0.1px solid black;
}
#sortable .ui-state-default button {
    font-size: 10px !important;
}

/* .createNewChecklist{
    display: none !important;
} */

.input-group {
    display: inline-table;
    vertical-align: middle;
}
.input-group-addon,
.input-group-btn,
.form-control {
    width: auto !important;
}

.dropdown-toggle {
    height: 100%;
} 

.createElements input, .createElements div {
    margin-right: 1%;
}
.createElementsSublist input, .createElementsSublist div {
    margin-right: 1%;
}

#accordion .sortable0 button, #accordion2 .sortable0 button{
    margin-bottom: 1%;
}
