body, html {
    background: none !important;
}
.preChecklistAdminHeader {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 3%;
}
.activeSelectChecklist {
    background-color: #A8DADC !important;
    color: black;
}
.card-body li {
    width: 100%;
}
.card {
    float: none;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none !important;
    margin-left: 7%;
    background-color: #fff !important;
    min-width: 70% !important;
}
.card-header {
    margin: 3% 0%;
    padding: 0% !important;
    background-color: #fff !important;
    width: 100%;
}
.card-header button{
    width: 100%;
}
.card-body {
    margin-left: 30px;
}
li p {
    display: inline-block;
}
li .dropdown {
    display: inline-block;
}
.selectDrones {
    margin-top: 3%;
}
.selectDronesSubmit {
    margin-top: 1%;
    width: 70%;
}
.selectDronesPicker {
    margin-left: 15%;
}
